<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>

    
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--CSS bundle -->
    <link rel="stylesheet" media="all" href="css/bundle.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
   

    <div class="page-loader"></div>

    <div class="wrapper">

        <!-- ======================== Navigation ======================== -->

        <nav class="navbar-fixed navbar-single-page">

            <div class="container">

                <!-- ==========  Top navigation ========== -->

                <div class="navigation navigation-top clearfix">
                    <ul>
                        <!--add active class for current page-->
                        <li><a href="index-2.html"><i class="fa fa-home"></i></a></li>
                        <li><a href="#"><i class=""></i></a></li>
                        <li><a href="#"><i class="glyphicon-shopping-cart"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>

                <!-- ==========  Main navigation ========== -->

                <div class="navigation navigation-main">
                    <a href="index-2.html" class="logo"><img src="assets/images/logo.png" alt="" /></a>
                    <div class="open-menu"><i class="icon icon-menu"></i></div>
                    <div class="floating-menu">
                        <!--mobile toggle menu trigger-->
                        <div class="close-menu-wrapper">
                            <span class="close-menu"><i class="icon icon-cross"></i></span>
                        </div>
                        <ul>
                            <li><a href="#page-home" class="current">Homepage</a></li>
                            <li><a href="#page-products">Products</a></li>
                            <li><a href="#page-team">Team</a></li>
                            <li><a href="#page-interiors">Interiors</a></li>
                            <li><a href="#page-contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
        </div>
    



        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
              
                <div class="container">

                    <!--footer showroom-->
                    <div class="footer-showroom footer-showroom-single">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Visit our showroom</h2>
                                <p>200 12th Ave, New York, NY 10001, USA</p>
                                <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
                            </div>
                            <div class="col-sm-6">
                                <!--footer links-->
                                <div class="footer-links">
                                    <h5>Sign up for our newsletter</h5>
                                    <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
                                    <div class="form-group form-newsletter">
                                        <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
                                        <input type="submit" class="btn btn-clean btn-sm" value="Subscribe" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--footer social-->

                    <div class="footer-social">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="../../../themeforest.net/item/mobel-furniture-website-template/20382155.html" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
                            </div>
                            <div class="col-sm-6 links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>



        @RenderSection("Scripts", required: false)
   
</body>
</html>
